.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #062233;
}

.navbar-container {
  width: 100px
}

.navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarLogo {
  width: 7em;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
    color: #fff;
    font-family: verdana;
    margin-right: 1rem;
  }

.icon {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  }

.icon svg {
  font-size: 1rem;
}

.profile {
  border-radius: 50%;
  background-color: gray;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}

