.container {
    padding: 1rem;

}

.formContainer {
    display: flex;
    height: 85vh;
}

.formWrapper {
    flex: 1.5;
    padding: 1rem;
}

.formComponent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.formTitle{
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}

.previewWrapper {
    flex: 0.5;
    display: flex;
    flex-direction: column;
}


.inputContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    justify-content: space-between;
}

.inputWrapper {
    margin-bottom: 1rem;
}

.buttonWrapper{
    border-radius: 1rem;
    background-color:  #062233;
    color: white;
    padding: 1rem 2rem;
}

.buttonWrapper:hover {
    background-color:#131921;
}

.profitWrapper {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

