.container {
    display:flex;
    height: 90vh;
}

.leftSection {
    flex: 1.3;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.leftSection img {
    height: 100%;
}

.rightSection {
    flex: 0.7;
}

.rightSectionWrapper {
    padding: 5rem;
}

.productDescription {
    color: #062233;
}

.title {
    font-size : 2rem;
    font-weight: 600;
    margin-top: 2rem;
}

.brand {
    font-size: 1rem;
}

.price {
    font-size: 1rem;
    padding: 0;
}

.gender {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.colorSection {
    display: flex;
    margin-top: 1rem;
}

.colorTitle {
    font-size: 1rem;
    font-weight: 600;
}

.colorName {
    font-size: 1rem;
}

.sizeSection {
    display: flex;
    margin-top: 1rem;
}

.sizeTitle {
    font-size: 1rem;
    font-weight: 600;
}

.sizeName {
    font-size: 1rem;
}

.buttonWrapper {
    background-color: #062233;
    width: 100%;
    color: white;
    padding: 1rem;
    font-size: 1rem;
    margin-top:3rem;
}

.freeShipping {
    margin-top: 4rem;
    font-size: 1rem;
    font-weight: 600;
}
