.container {
    padding: 1rem;
}

.formContainer {
    display: flex;
    height: 85vh;
    margin-bottom: 100px;
}

.formWrapper {
    flex: 1.5;
    padding: 1rem;
}

.formComponent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.formTitle{
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}

.previewWrapper {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}


.inputContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    justify-content: space-between;
}

.inputWrapper {
    margin-bottom: 1rem;
}

.buttonContainer {
  
}

.buttonWrapper{
    border-radius: 1rem;
    background-color:  #062233;
    color: white;
    padding: 1rem 2rem;
    width: 100%;
}

.buttonWrapper:hover {
    background-color:#131921;
}

.profitWrapper {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}



@media screen and (max-width: 900px) {

    .container {
        padding-bottom: 100px;
        margin-bottom: 100px;
    }
    
    .formContainer {
        flex-direction: column;
        align-items: center;
        padding-bottom: 100px;
        margin-bottom: 100px;
    }

    .buttonContainer {
        width: 100%;
    }

    .buttonWrapper {
        margin-top: 2rem;
        margin-bottom: 10rem;
        width: 100%;
    }
}