.container {
    display: flex;
    flex-direction: column;
    width: 20vw;
    margin : 0.1rem;
    cursor: pointer;
    background-color: transparent;
    color: #062233;
}

.image {
    width: 100%;
    height:85%;
}

.descriptionWrapper {
    padding: 0 1rem;
}

.title {
    font-size: 0.9rem;
    padding: 0;
    line-height: 2;
}

.brand {
    font-size: 0.8rem;
    padding: 0;
    line-height: 1;
}

.price {
    font-size: 1.5rem;
    font-weight: 600;
}