.container {
    display: flex;
    flex-direction: column;
    width: 20vw;
    border-radius: 1rem;
    margin : 1rem;
    cursor: pointer;
    background-color: #062233;
    color: white;
}

.image {
    width: 100%;
    height:85%;
}

.descriptionWrapper {
    padding: 0 1rem;
}

.title {
    font-size: 0.9rem;
    padding: 0;
}

.price {
    font-size: 1.5rem;
    font-weight: 600;
}