.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 6rem;
    background-color: #131921;
}

.wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color:white
}